@media screen and (min-width: 1006px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px calc(5% + 20px); /* Responsive padding based on screen width */
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li a {
        padding: 10px 20px;
    }

    .navigation {
        display: flex;
    }

    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .discover-page main {
        display: grid;
        grid-template-columns: 1fr 1.75fr;
        gap: 20px;
    }
    
    .discover-page .main-content img {
        width: 100%;
        transition: transform 0.5s ease;
    }
    
    .discover-page .main-content img:hover {
        transform: scale(1.02);
    }

    .join-page {
        display: grid;
        grid-template-columns: 2fr 3fr; /* Two columns: form takes 2/3 width, benefits take 1/3 width */
        gap: 20px;
    }

    .join-page h1 {
        grid-column: 1 / -1; /* Span the h1 across both columns */
    }

    .join-page .form-container {
        grid-column: 1 / 2; /* Form in the first column */
    }

    .join-page .membership-benefits {
        grid-column: 2 / 3; /* Benefits in the second column */
    }
}
