/* Base styles that apply to all viewports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* Apply a basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Serif", serif;
    color: #333; /* Example text color */
    background-color: #fff; /* Background color of the body */
}

header {
    background-color: #1a1a1a; /* Header background color */
    color: #f7f7f7; /* Header text color */
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px; /* Example width, adjust as needed */
    height: auto;
    border-radius: 50%; /* Circular image */
}

header span {
    font-size: 3.5em; /* Example size, adjust as needed */
}

nav ul {
    list-style-type: none;
    padding: 20px 0;
    font-size: 1.15em;
}

nav ul li a {
    text-decoration: none;
    color: #f7f7f7; /* Links color */
    display: block;
    padding: 10px;
    transition: background-color 0.3s; /* Smooth background transition */
}

nav ul li a:hover {
    background-color: #333; /* Hover effect */
}

main {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

main h1 {
    padding: 10px 0 10px 0;
}

.card {
    background-color: #e7e7e7; /* background color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; /* Rounds the corners */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.414); /* Adds a subtle shadow */
}


footer {
    background-color: #1a1a1a; /* Footer background color */
    color: #f7f7f7; /* Footer text color */
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack flex items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
}

.card ul {
    list-style-type: none;
    padding: 10px 0;
}

.card li {
    padding: 5px 0;
}

.card p {
    padding: 10px 0;
}

.card a {
    color: #0066cc; /* Links color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
}

.card a:hover {
    color: #004499; /* Hover effect */
}

footer img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
}

footer p {
    display: flex;
    align-items: center; /* This ensures vertical centering */
    gap: 10px; /* Add space between text and the flag */
    margin-right: 10px; /* Optional spacing */
    padding-top: 10px;
    padding-bottom: 10px;
}
