/* Form styles */
form {
    max-width: 600px;
    margin: auto;
    background: var(--form-bg-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid var(--form-border-color);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="range"],
select {
    width: calc(100% - 20px);
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid var(--form-border-color);
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.5rem;
}

input[type="submit"] {
    background-color: var(--accent-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}