/* Styles for larger screens */

@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
    }

    header img {
        margin-bottom: 0; /* Remove margin below image */
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        padding: 10px 20px; /* Larger padding */
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
        grid-template-rows: auto 1fr; /* Creates two rows, the first size to content, the second taking up the remaining space */
        gap: 20px; /* Adjust the gap as needed */
    }

    main > h1 {
        grid-column: 1 / -1; /* Span the title across all columns */
    }

    .learning-activities,
    .information {
        grid-column: span 1; /* Each card spans one column */
    }

    footer p {
        margin: 0; /* Remove default margin from paragraphs */
    }
}
