/* Styles for larger screens */

@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
    }

    header img {
        margin-bottom: 0; /* Remove margin below image */
    }

    .top-header {
        font-size: 1.7em;
    }

    #darkBtn {
        top: 20px;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        padding: 10px 20px; /* Larger padding */
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
        grid-template-rows: auto 1fr; /* Creates two rows, the first size to content, the second taking up the remaining space */
        gap: 20px; /* Adjust the gap as needed */
    }

    main > h1 {
        grid-column: 1 / -1; /* Span the title across all columns */
    }

    .learning-activities,
    .information {
        grid-column: span 1; /* Each card spans one column */
    }

    footer p {
        margin: 0; /* Remove default margin from paragraphs */
    }

    /* Additional CSS for hiding/showing navigation bar on larger screens */
    .navigation {
        display: flex;
        justify-content: center;
    }

    .overlay {
        font-size: 3em;
    }

    #menu {
        display: none;
    }

    /* Form styles for larger screens */
    form {
        grid-column: 1 / -1; /* Span the form across all columns */
        padding: 2rem; /* Increased padding for form */
    }

    fieldset {
        padding: 2rem; /* Increased padding for fieldsets */
    }

    label {
        font-size: 1.1em; /* Larger font size for labels */
        margin-bottom: 1rem;
    }

    input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="email"],
    input[type="url"],
    input[type="date"],
    input[type="number"],
    input[type="range"],
    select {
        font-size: 1em; /* Larger font size for input elements */
        padding: 0.75rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    input[type="submit"] {
        padding: 1rem 2rem; /* Larger padding for submit button */
        font-size: 1.2em; /* Larger font size for submit button */
    }
}
